$color_wrapper:#20232A;

*{margin: 0;
padding: 0; font-family: sans-serif;}

body,html,.wrapper
{
overflow-x: hidden;
}






body
{
    
        height: 100%;
    }

html::-webkit-scrollbar { width: 0; }


.main
{
   
    padding-top: 0px;
}
.wrapper
{
    display: block;
    height: 100%;
    // height: 570vh;
    transform: translateY(0px);
    width: 100%;
    background-color: $color_wrapper;
}
.header
{
    width: 100%;
}

.nav
{
    align-items: center;
    padding: 20px;
    font-size: 18px;
    justify-content:space-between;
    display: flex;
}
ul li 
{
    list-style-type: none;
}

a{
    margin: 20px;
    text-decoration: none;
}

ul{margin-left: 30%;}

.menu
{
    margin-right: 50px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 25px;
    border: solid 1px #fff;
}

.menu div {
    background-color: #fff;
    margin: 1.5px;
    width: 15px;
    height: 1px;
}

.menu:hover
{
    cursor: pointer;
}

.down_stick
{
    width: 100%;
    height: 1.3px;
    background-color:silver;
}

.logo,a
{
    color: white;
}

.home_container
{
    display: flex;
    width: 100%;
    height: 94vh
    
}

.scroll_content
{
    display: flex;
    align-items:flex-end;
    margin: 0px;
    color:white;
    height: 100%;
    width: 100px;
}
.scroll_block p
{
    margin: 20px;
    transform: rotate(-90deg);
}
.front img
{
    // object-fit: cover;
}

.scroll_stick
{
    width: 1px;
    height: 50px;
    background-color: #fff;
}
.scroll_block
{
    opacity: 0;
    transform: translateY(120px);
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.home_content
{
    display: flex;
    width: 100%;
    height: 88vh;
   
}

.home_content .home_title, .home_gallery
{
    width: 100%;

}

.home_title
{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}




.home_title p
{
    position: relative;
    font-size: 60px;
    color:White;
}


.text_content
{
    margin-bottom: 60px;
}
.stick_sea
{
    width:100px;
    height: 2px;
    background-color: #E76F41;
}

.sea_box
{
    margin-left: 5px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    
}

.sea_box a
{
    color:#E76F41;
    border:solid 2px #E76F41;
    padding: 5px 5px;
}

.home_gallery
{
    
    
    display: flex;
}

.home_gallery div
{
    width: 400px;
    height:100%;
}

.text_content
{
    position: absolute;
    margin-left: 150px;
}

.stick_area
{
    order: -5;
}

.sea_box a
{
    order: -1;
}

.sea_box
{
    margin-left: -15px;
}

.about_page
{
    padding-top: 150px;
    flex-direction: column;
    display: flex;
    align-items:center;
    width: 100%;
    height: 100%;
    background-color:$color_wrapper;
    
}

.card_first_block,.card_second_block
{
    display: flex;
    width: 100%;
    height: 100%;
}

.laxx_text
{
    padding-top: 215px;
    top: 0px;
    position: relative;
    margin-left: 50px;
    min-width: 8156px;
    align-items: center;
    justify-content: center;
    color:$color_wrapper;
    text-transform: lowercase;
    width: 100%;
    font-size: 288px;
    height: 25vh;
    left: 50px;

}

.laxx_text p
{
//    transition: 0.1s all;
    -webkit-text-stroke: 3px #E76F41;
}

.first_img_container
{
    overflow: hidden;
 
   margin-top: 190px;
    top: 50px;
    position: relative;
    left: 351px;
    // left: 15%;
    width: 533px;
    height: 714px;
}

.first_img_container img
{
    object-fit: cover;
    
      height: 900px;
}


.second_img
{
    z-index: 16;
    left: 54%;
   margin-top: 157px;
    top: 15px;
    position: relative;
    width: 492.4px;
    height: 678.68px;
    // background:url(https://picsum.photos/492/678?grayscale); 
}



@keyframes bounce
{
    0%,100%
    {
        transform:translateY(-20px);
    }
    
    50%
    {
        transform: translateY(0px);
    }
}

::selection
{
    background:orange;
}



.connector_block
{
    top: 100px;
    display: flex;
    position: relative;
    align-self: center;
    height: 300px;
    justify-content: center;
    align-items: center;
    width: 65%;
    z-index:0;
}

.card_second_block
{   
    
     padding-top: 150px;
    position: relative;
    height: 90vh;
}


.connector_content
{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.x_stick
{
    transition: 1s;
    width: 0%;
    background-color:#E76F41;
    height: 3px;
}

.y_block
{
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    height: 300px;
    display: flex;
    width: 50px;
    position: relative;
   z-index: 10;
   margin-top: -280px;
   margin-left: -25px;
   
}
.y_block *
{

    color:white;
    transform: rotate(-90deg);
}

.y_stick
{
    position: relative;
    transition: 1s; 
    margin-top: 30px;
    height: 3px;
    width: 0px;
    background-color: #E76F41;
}

.connector_content a
{
    text-align: center;
    min-width: 100px;
    color: #E76F41;
    background:none;
    padding: 5px 5px;
    border: solid 2px #E76F41;

}

.img_content
{
    transform: scale(1.4);
    transition:1.5s all;
    clip-path: inset(0% 0% 0% 100%);
    // clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    position: absolute;
    display: flex;
    justify-content: center;
}

.active
{
    transition:2s all;
    clip-path: inset(0 0 0% 0);
    // clip:rect(800px,600px,800px,0px); //px,600px,800px,0px
}



.my_works_container
{
    position: relative;
    top: 500px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
   // background-color: #fff;
}
.left_side,.right_side
{
   
    margin-left: 5px;
    width: 100%;
    height: 100%;
    //background-color: red;
}


.left_side
{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
}

.box
{
    right:50px;
    top: 150px;
    display: table;
    position: relative;
    transform: rotate(20deg);
    opacity: 0.8;
    width: 350px;
    height: 350px;
    background-color: $color_wrapper;
    border:solid 35px blue;
    animation: rotateBox 90s  infinite;
}

@keyframes rotateBox
{
    0%
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

.right_side
{
    display: flex;
    justify-content: flex-end;
}

.right_box
{
    left: 50px;
    position: relative;
    align-self: center;
    display: table;
    position: relative;
    transform: rotate(20deg);
    opacity: 0.8;
    width: 200px;
    height: 200px;
    background-color: $color_wrapper;
    border:solid 20px #fafafa;
   
    animation: rotateBoxright 80s infinite;
}

@keyframes rotateBoxright
{
    0%
    {
        transform: rotate(360deg);
    }

    100%
    {
        transform: rotate(0deg);
    }
}

.mw_global_text
{
    position: relative;
    left: 165px;
}

.mw_global_text p
{
    position: relative;
    font-family: 'Caviar';
    max-width: 2300px;
    font-size: 105px;
    color: #fff;
    
   
}

.mw_global_text span

{
    margin-bottom: 0px;
    z-index: 19;
    background:$color_wrapper;
}

.mw_global_text span
 {
        overflow: hidden;    
        min-width: 1000px;
        display: block;
        position: relative;
        
  }

  span p
  {
    animation: dropText 1.5s;        

  }

  .works_text
  {
      z-index: 7;
      margin-bottom: -40px;
  }

@keyframes dropText
{
    0%
    {
        margin-bottom: -15px;
        transform: translateY(-185px);
    }
    100%
    {
        margin-bottom: 0px;
        transform: translateY(0px);
    }
}

.block_wrap
{
    position: absolute;
    z-index: 92;
     margin-top: -6px;
    width: 400px;
    height: 120px;
    background-color:$color_wrapper;
    animation: dropText 1s ease-in-out;

}

.contact_block
{
    margin-top: 500px;
    position: relative;
    width: 100%;
    height: 101vh;
    background-color: #1C1D1F;
    opacity: 1;
   
}
.container_field
{
    display: flex;
    width: 100%;
    height: 100%;
}

.img_field
{
    width: 821px;
    height: 100%;
    background:url('https://picsum.photos/821/975')
}
.text_field
{

    width: 60%;
    height: 100%;
}
.text_field
{
    display: flex;
    justify-content: center;   
    align-items: center;
}
.contact_text_content p
{

    color:White;
    font-family: 'Euclid Square';
    font-size: 3.33333vw;
}

.contact_text_content
{
    position: relative;
    left: 200px;
    min-width: 1000px;
    margin-bottom: 150px;
}

.ans
{
    position: relative;
    width: 30px;
    font-size: 60px;
    color:#FF4E58;
    background:none;
}

.icon_contact
{

        margin-left: 4px !important;
   
}

.icon_contact li
{
    
    margin-top: 20px;
    position: relative;
    left: 7px;
    color: #ffff;
    font-size: 25px;
    font-family: 'Euclid Square';
}

.icon_contact li:before
{
    margin-right: 15px;
    color:#FF4E58;
    font-family: 'icomoon' !important;
    content: "\e901";
}

.img_content 
{
   margin: 2px;
   width: 400px;
   height: 800px;
   
}


.img_content img
{
    
    height: 800px;
    width: 410px;
}
 

.front img
{
    object-fit: cover !important;
}


.text_content
{
z-index: 10;
}
.logo_name
{
    transform: translateY(-50px);
    opacity: 0;
    font-family: 'Marck Script', cursive;
    position: absolute;
    font-size: 30px;
    top: 20px;
    padding: 20px;
    align-self:flex-start;
    justify-self: flex-start;
}
.second_img{overflow: hidden;}
.img_content
{
    width: 100%;
    height: 100%;
}

.active 
{
    height: 100% !important;
    transition: 1s all ease-in-out;
}


@keyframes img_load
{
    0%
    {
        height: 0%;
    }
    100%
    {
        height: 100% !important;
    }
}


.hover_loader:hover + .x_stick
{

        transition: 1s;
        width: 100%;   
}

.home_gallery div img
{
    
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.front img
{
    width: 100%;
    height: 100%;
}
.front
{
    overflow: hidden;
    background-color:#202026 ;
}

.image_wrapper
{
  height: 100%;
  width: 100%;
    // border:solid 2px red;
}


.main_text_container
{
    width: 50%;
}

.text_main
{
    margin: 0;
    margin-top: 0;
    font-size: 30px;
    color:white;
}

.first_wrapper{
    margin-top: 50px;
    width: 100%;
    display: flex;
}

.image_wrapper
{
    overflow: hidden;
 width: 100%;
 height: 100%;
}

h1
{  
  
    overflow: hidden;
}

.main_text_container
{
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}


.text_main
{
    z-index: 15;
    left: 250px;
    position: absolute;


    span{
        top: 170px;
        position: relative;
        transform: rotate(6deg);
        display: block;
    }
}

.hidertext
{
    font-size: 100px;
    font-weight: normal;
    // width: 100%;
    font-family: 'Caviar';
}

.main_image
{
    
    filter: brightness(0.5);
    width: 0%;
    height: 100%;
    background-image: url(https://squarerooms.com.sg/wp-content/uploads/2018/05/SquareRooms-Luxe-Look-Living-Room.jpg);
    background-repeat:no-repeat;
}

.loading_section
{  
    // display: none;
    // display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    z-index: 800;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:#1D1E23;
}
.main_image
{
    z-index: 100;
}
// .second_preloader_section
// {
//     width: 100%;
//     height: 100%;
//     // background-color: #222121;
//     background-color: lightgreen;
    
// }
.loading-transition
{
    left: 0%;
    z-index: 1000;
    width: 0%;
    height: 100%;
    position: fixed;
    background-color:#1D1E23;
}
#logo{position: relative;}

#logo path:nth-child(2)
{
   
    stroke-dasharray: 267px;
    stroke-dashoffset: 267px;
    animation:line-anim 3s ease forwards;
}
#logo path:nth-child(3)
{
   
    stroke-dasharray: 225px;
    stroke-dashoffset: 225px;
    animation:line-anim 4s ease forwards;

}
#logo path:nth-child(4)
{
   
    stroke-dasharray: 150px;
    stroke-dashoffset: 150px;
    animation:line-anim 4s ease forwards;
}

#logo path:nth-child(5)
{
   
  stroke-dasharray: 118px;
    stroke-dashoffset: 118px;
    animation:line-anim 4s ease forwards;
}

#logo path:nth-child(6)
{
   
    stroke-dasharray: 245px;
    stroke-dashoffset: 245px;
    animation:line-anim 4s ease forwards;
}
#logo path:nth-child(7)
{
   
    stroke-dasharray: 171px;
    stroke-dashoffset:171px;
    animation:line-anim 4s ease forwards;
}
#logo path:nth-child(8)
{
   
    stroke-dasharray: 171px;
    stroke-dashoffset: 171px;
    animation:line-anim 4s ease forwards;
}


@keyframes line-anim
{
    to
    {
        stroke-dashoffset: 0;
    }
}


.svg_block
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#load_logo
{
    position: absolute;
}


.wrapper_about_me
{
    overflow: hidden !important;
    height: 100vh;
    width: 100%;
    background-color: $color_wrapper;
}
.about_main
{
    height: 100vh;
    display: flex;
}
.about__text_block,.about__image_block
{
    width: 100%;
    height: 100%;
   
}
.about__image_block
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about_image
{   margin: 20px;
    height: 866px;
    width: 663px;
    border: solid 2px burlywood;
}

.about__back
{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    background-color:#141518;
    height: 100%;
    width: 90%;
}
.about__photo_wrap
{
  left: 250px;
    align-self: flex-end;
    margin-left: 100px;
    position: absolute;
    height: 80%;
    width: 600px;

}
.about_photo
{

    width: 100%;
    height: 100%;
    background:url(https://picsum.photos/600/800);

}
.about__text_block
{
    font-size: 25px;
    text-align: start;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_text
{
  
    line-height: 2;
    max-width: 800px;
}
.first_p,.second_p
{
    opacity: 0;
}
.about_text p
{
    font-family: 'Playball', cursive;
    margin: 20px;
}
.about_title
{

    opacity: 0;
    margin: 20px;
    font-family: 'Playball', cursive;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact_logo
{
   
    color: #fff;
    width: 50%;
    height: 100%;
}
.contact_wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.contact_wrapper *
{
    color: #fff;
}

.contact_logo
{
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.contact_logo h1
{
    height: 100px;
    bottom: 200px;
    position: relative;
    right: 100px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: normal;
    margin: 20px;
    font-size: 90px;
}
.main_details
{
   justify-content: center;
    // align-items: center;
    display: flex;
    flex-direction: column;
}
.main_preview span
{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: normal;
    text-align: start;
    font-size: 28px;
    // max-width: 800px;
}
.space_stick
{
    
    opacity: 0.3;
    margin-top: 25px;
    width: 75%;
    background-color: #fff;
    height: 3px;
}
.main_details
{
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    margin-top: 50px;
}
.main_details div
{
    margin-top: 25px;
}

.location_details
{
   
    grid-column-start: 1;
    grid-row-start: 2;
}
.Email a
{   
    position: relative;
    // transform: translateY(25px);
    opacity: 0;
    margin: 0px 0px 0px;
}

.Email
{
    min-width: 300px;
}
.main_details *
{
    font-family: 'Red Hat Display', sans-serif;

}

.hider-wall
{
    background-color:color_wrapper;
    width: 400px;
    height: 200px;
}
h1
{
    overflow: hidden;
}
.contact_logo span
{
    display: block;
    transform: rotate(8deg);
    position: relative;
    top: 150px;
}

.ad-body
{
    overflow: hidden !important;
}

.status
{
    grid-column-start: 2;
    grid-row-start: 2;
}


.main_preview h3 
{
    overflow: hidden;


    span{
        position: relative;
        top: 30px;
    }
}

.space_stick
{
    opacity: 0;
    transform:translateY(10px);
}

.main_details h2
{

    opacity: 1;
    transform: translateY(10px);
}

.main_details p, .main_details a
{

    opacity: 0;
    transform: translateY(10px);
}

.contact_details h2 
{
    overflow: hidden;
    span{
    position: relative;
    top: 25px;
    }
}

h2
{
    overflow: hidden;
    span{
        position: relative;
        top: 30px;
    }
}